body{ 
/*    background: rosybrown;*/
/*    background: #270601;*/
    background: white;
    margin: 0;
    font-size: 20px;
    font-family: Lato, sans-serif;
}
#full {display: block;}
#mobile {display: none; }
header {
    font-size: 30px;
    height: 20px;
    padding: 30px;
    background: #222;
    color: antiquewhite;
    margin-bottom: 50px;
    font-family: Merriweather;
}

header a { color: antiquewhite;}
header a:hover { color: grey;}

.min-five{position: relative; top: -5px;}   
.left_padding {padding: 20px; float: left;}


header form {width: 50%;}

 .search{position: relative; top: -10px;}
.search input[type=text]{
    width: 80%; 
    border-radius: 5px;
    padding: 10px;
}
.h4_search input[type=text]{width: 90%;}

.search input[type="submit"]{
    font-family: FontAwesome;
    content: "&#xf002;";
/*    color: #666;*/
    color: antiquewhite;
    background: transparent;
    border: none;
    font-size: 20px;
}
.search input[type="submit"]:hover{color: white;}

input[type="submit"]:hover{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background-color: darkolivegreen;
    color: antiquewhite;
}

input[type="submit"]{ 
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: olivedrab;
    color: antiquewhite;
}


input[type="file"]:hover{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
/*
    background-color: darkolivegreen;
    color: antiquewhite;
*/
    color: black;
}

input[type="file"]{ 
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
/*    background-color: olivedrab;*/
/*    color: antiquewhite;*/
    color: black;
}

#new_pass input[type="password"]{
    width: 400px;
}

a {text-decoration: none; 
/*    color: #6B2B37;*/
    color: #8D3014;
    
}
a:hover {color: black; cursor: pointer;}

.links{cursor: pointer; clear: both;}

h4 {
    font-weight: 100;
    color: darkgoldenrod;
    background: rgba(65,7,7,.9); 
    padding: 10px;
    border-radius: 5px;
    border: 1px dotted rgba(255,55,140,.3);
    clear: both;
}
h4 a{color: antiquewhite;}

.main {margin: 10px;}

.projects{
/*    clear: both;*/
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    overflow: hidden;
/*    width: 400px; */
    width: 400px;
    min-height: 500px;
}

.projects img{ height: 250px; width: 400px;}

#page, #tall_page {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
/*    background: ivory;*/
    background: rgba(255,255,255,.95);
    border-radius: 5px;
    min-height: 600px;
}

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

#inline{display: inline;}

#no-isbn, #new_comment {display: none;} 
#new_title:hover {cursor: pointer;}
#new_username, #new_email, #new_pass {display: none; background: white; padding: 20px;}
 

.fa-question-circle:hover {cursor: pointer;}

#tall_page { min-height: 800px;}
.clear{clear:both;}
.left { float: left;}
.center {margin: 0 auto;}
.right { float: right;}
.one-third {width: 300px;}

 
.comments {
    clear: both;
    margin-bottom: 10px;
    border: 1px solid grey;
    padding: 20px;
    min-height: 200px;
}

.padding{padding: 200px;}
.username {font-size: 18px;}

/*.red {color:red;}*/
.green {color:#66cc66;}

.message{ background: #222; border-radius: 2px; color: antiquewhite; padding: 10px;}

.small {font-size: 14px;
position: relative;
top: -2px;}

 

#upload_form p {width: 200px;}
#upload_form input {float: left;}



/******************************
        /MEDIA QUERIES
*******************************/


@media(max-width: 1000px) {

    header { 
    height: 70px;
    padding: 30px;  
    margin-bottom: 50px; 
}
    
    #search_all {position: relative; top: 20px;}
    
}



/*MOBILE DEVICES ONLY*/
@media only screen and (max-device-width: 800px) {
    
 
    
    body{
        
        font-size: 30px;
    }
    
    header a { color: antiquewhite;}
    header a:hover { color: grey;}
 
    
    h4 {font-size: 40px; }
    
    #full {display: none;}
    #mobile {display: block; }
    
    header {
    font-size: 40px;
    height: 150px;
    padding: 30px;
/*        color:#222;*/
/*    background: ivory;*/
        color:ivory;
        background: #222;
    margin-bottom: 50px;
    font-family: Merriweather;
}
    header form {width: 70%}
    .search input[type=text]{
     
        font-size: 30px;
}
    .username {font-size: 50px; clear: both;}
    

	}